

#wrapper header {
  background-color: aqua;
  grid-area:hd;
}
#wrapper nav {
  background-color: rgb(211, 255, 255);
  grid-area:nv;
}
#wrapper .section-top {
  background-color: white;
  grid-area:st;
}
#wrapper .section-bottom {
  background-color: rgb(204, 223, 255);
  grid-area:sb;
}
#wrapper footer {
  background-color: aqua;
  grid-area:ft;
}
#wrapper aside {
  background-color: red;
  grid-area:as;
}

@media screen and (max-width:500px) {
  div#wrapper {
    min-height: 100vh;
    display:grid;
    grid-template-rows: 200px 100px 500px 500px 200px;
     grid-template-areas: 
    "hd"
    "nv"
    "st" 
    "sb"
    "ft"
    ;
  }

  #wrapper header {
    background-color: cornflowerblue;
  }
  #wrapper header h1 {
    display:none;
  }
  #wrapper aside {
    display:none
  }
  
}

@media screen and (min-width:501px) {
  #wrapper {
    display:grid;
    grid-template-rows: 200px 100px 1fr 200px;
    grid-template-columns: 1fr 1fr 1fr;
    min-height:100vh;
    grid-template-areas: 
    "hd hd hd"
    "nv nv ."
    ".  sb as"
    "ft ft ."
    ;
  }
  
}